.main-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../../../images/search/bg.svg);
    background-repeat: no-repeat;
    background-position: 50% 10em;
    background-size: 75% auto;
}

.btn--search {
    font-size: 1.5em;
}

.search__input {
    border: 0;
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;
}

.search__input:focus {
    outline: none;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

.btn--search .icon , .btn--search-close .icon{
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    fill: currentColor;
}

.codrops-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 2.5em 2.75em 2.5em 1.5em;
    text-align: left;
}

.codrops-header__side,
.search-wrap {
    margin: 0 0 0 auto;
}

.bottom-nav {
    position: relative;
    width: 100%;
    margin: auto 0 0 0;
    padding: 2.5em 2.75em 2.5em 2em;
}

/* Demo links */
.codrops-demos {
    font-weight: bold;
    padding: 1.25em 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.codrops-demos span {
    display: inline-block;
    margin: 0 1em 0 0;
    vertical-align: bottom;
}

.codrops-demos a {
    position: relative;
    display: inline-block;
    margin: 0 0.5em;
    padding: 0 0.4em;
}

.codrops-demos a.current-demo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.25em;
    height: 2.25em;
    margin: -1.125em 0 0 -1.125em;
    border: 2px solid;
    border-radius: 50%;
}



/* Demo colors */
.demo-2 {
    color: #2196f3;
}

/* .demo-2 main { background-color: #2c312e; } */
.demo-2 .main-wrap a, .demo-2 .main-wrap .btn {
    color: #2196f3;
}

.demo-2 .main-wrap .codrops-header {
    margin-top: auto;
}

.demo-3 {
    color: #ffefb9;
    background-color: #2f2c2c;
}

.demo-3 main {
    background-color: #f44336;
    background-image: url(../../../images/search/bg_2.svg);
}

.demo-3 .main-wrap a, .demo-3 .main-wrap.btn {
    color: #ffefb9;
}

.demo-3 .main-wrap .btn--search-close {
    color: #f44336;
}

@media screen and (max-width: 40em) {
    .codrops-header {
        display: block;
        padding: 4em 1em 0;
        text-align: center;
    }

    .codrops-header__side {
        margin: 0 auto;
    }

    .codrops-links {
        font-size: 0.85em;
        margin: 0 auto;
    }

    .search-wrap {
        font-size: 0.85em;
        position: absolute;
        top: 2.15em;
        right: 2em;
    }

    .bottom-nav {
        padding: 0.5em;
    }

    .codrops-demos {
        text-align: center;
    }

    .codrops-demos a {
        margin-bottom: 1em;
    }

    .codrops-demos span {
        display: block;
        margin: 0 auto 1em;
        text-align: center;
    }
}
